

/* Start:/bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1683922477150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/task/components/bitrix/news.detail/news_detail/style.css?1684739513155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?168392218951*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1683922477150 */
/* /local/templates/task/components/bitrix/news.detail/news_detail/style.css?1684739513155 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?168392218951 */
